<h1>Editing developer_profile</h1>

<%= render 'form' %>

<%= link_to 'Show', user_developer_profile_path(current_user, current_user.developer_profile) %> |
<%= link_to 'Back', user_developer_profiles_path %>
