<pre style='color:#000000;background:#ffffff;border:none;'><html><body style='color:#000000; background:#ffffff; '><pre>
function gotoAnchor<span style='color:#808030; '>(</span>tag<span style='color:#808030; '>)</span><span style='color:#800080; '>{</span>
	var position <span style='color:#808030; '>=</span> $<span style='color:#808030; '>(</span>tag<span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>offset<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>top;
	$<span style='color:#808030; '>(</span><span style='color:#0000e6; '>'html,body'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>animate<span style='color:#808030; '>(</span><span style='color:#800080; '>{</span>scrollTop: position<span style='color:#800080; '>}</span>, <span style='color:#0000e6; '>'slow'</span><span style='color:#808030; '>)</span>;
<span style='color:#800080; '>}</span>
</pre></pre>
