<div class="container">
<br/>
    <div class="page-header">
      <h1>About Tim</h1>
    </div>

<div id="carousel-tim" class="carousel slide">
  <!-- Indicators -->


  <!-- Wrapper for slides -->
  <div class="carousel-inner text-center">
<div class="item active">
      <img src="/groundworks.JPG" alt="">
      <div class="carousel-caption">
        He's trained with the best!</br>
        (And takes creepy selfies)
      </div>
    </div>

<div class="item">
      <img src="/india.JPG" alt="">
      <div class="carousel-caption">
        He's a celebrity in some places!
      </div>
    </div>

    <div class="item">
      <img src="http://img.youtube.com/vi/GkYRapF_EJk/hqdefault.jpg" alt="">
      <div class="carousel-caption">
        He's gone bungee jumping despite being terrified of heights!<br/> <a target="_blank" href="https://www.youtube.com/watch?v=GkYRapF_EJk&feature=youtu.be">See Video</a> 
      </div>
    </div>


<div class="item">
      <img src="/bakes.jpg" alt="">
      <div class="carousel-caption">
        He bakes cookies for his coworkers' birthdays! <br/> (Chocolate Coffee. I'm told they're life changing)
      </div>
    </div>    
    
<div class="item">
      <img src="/basketball.JPG" alt="">
      <div class="carousel-caption">
        He's coached a youth basketball team in Nicaragua!
      </div>
    </div>


<div class="item">
      <img src="/baby.jpg" alt="">
      <div class="carousel-caption">
        Baby's Like Him!
      </div>
    </div>


<div class="item">
      <img src="/cat.jpg" alt="">
      <div class="carousel-caption">
        Exotic Cats Don't!
      </div>
    </div>

  
<div class="item">
      <img src="/elephant.jpg" alt="">
      <div class="carousel-caption">
        Elephants Do!
      </div>
    </div>
 
  
<div class="item">
      <img src="/cook.jpg" alt="">
      <div class="carousel-caption">
        And he cooks!
      </div>
    </div>
  
</div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-tim" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-tim" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

      <div class="row">
        <div class="col-md-4">
          <h2>Favorite Code Written</h2>
            <ul>
               <li>Russian doll caching.  So fast!</li>
               <li>Tabbed javascript interface</li>
               <li>O.O. value resolution that calls apis</li>
               <li>PouchDB based reservation calendar</li>
	
            </ul> 	
        </div>
        <div class="col-md-4">
          <h2>Least Favorite Bugs</h2>
            <ul>
               <li>Fixing something and forgetting to save</li>
               <li>Index out of bounds (Think outside the box Ruby!)</li>	
               <li>Missing semicolons in Java and Javascript</li>
               <li>Transposing letters in variable/methods</li>	
            </ul> 	
       </div>
        <div class="col-md-4">
          <h2>Personal</h2>
            <ul>
               <li>Travelled around the world for 3 years</li>	
               <li>Really good at ping pong</li>
               <li>Described as "strange, but in a good way"</li>
               <li>Up for anything, once. (See Bungee Video)</li>              
            </ul> 
        </div>

      </div>
</div>

</br>
</br>
