
<div class="container">
    <div class="page-header">
      <h1>Features</h1>
    </div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#acceptance">
          Display Failed Criteria
        </a>
      </h4>
    </div>
    <div id="acceptance" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="alert alert-error bg-danger">We are not currently accepting deals that end before Oct 2014<br>We are only accepting deals less than $200,000<br>We are only accepting Debt and Flexible capital types<br>We are only accepting deals in Georgia</div>
      	
        By using the methods created while updating the criteria for deals, the above flash can be generated.  This allows the system to record the interest from the developer while showing them why their deal isn't currently being accepted. 
      </div>
    </div>
  </div>
    
</div>

<div class="text-center">
<p>Code snippets generate from http://www.tohtml.com/</p>
</div>


</div>
